h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  margin: 8px 0;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  text-align: center;
  padding: 1rem;
  flex-shrink: 0;
  position: sticky;
}

/* Top navigation menu */
.top-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.top-menu li {
  margin: 0 1rem;
}

.top-menu a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem 0;
  display: block;
}

.top-menu a.active,
.top-menu a:hover {
  border-bottom: 2px solid #fdb001;
}

.main {
  background-color: var(--color-surface-dim);
}

footer {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  text-align: center;
  padding: 1rem;
  flex-shrink: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

@media (max-width: 600px) {
  .top-menu ul {
    flex-direction: column;
    align-items: center;
  }

  .top-menu li {
    margin: 0.5rem 0;
  }
}

.logo-container {
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.tertiary-filter {
  filter: brightness(0) saturate(100%) invert(75%) sepia(9%) saturate(1293%)
    hue-rotate(325deg) brightness(105%) contrast(92%);
}
