<header>
  <nav class="top-menu">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active"><h2>Home</h2></a>
      </li>
      <li>
        <a routerLink="/products" routerLinkActive="active"
          ><h2>Products</h2></a
        >
      </li>
      <li>
        <a routerLink="/services" routerLinkActive="active"
          ><h2>Services</h2></a
        >
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active"><h2>Contact</h2></a>
      </li>
    </ul>
  </nav>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<footer>
  <p>© 2025 Dennis Joel Carcamo Devsu Technical Assessment</p>
</footer>
