<div class="centered-content">
  <app-products-table
    [products]="products"
    (searchTermChange)="onSearchTermChange($event)"
    (emitDeleteProduct)="onDeleteProduct($event)"
  ></app-products-table>
</div>
<app-modal
  [title]="modalTitle"
  [subtitle]="modalMessage"
  [isOpen]="isModalOpen"
  [type]="modalType"
  (closed)="onCloseModal()"
>
</app-modal>
<app-confirmation-modal
  [productId]="confirmationProductId"
  [title]="confirmationModalTitle"
  [subtitle]="confirmationModalMessage"
  [isOpen]="isConfirmationMsModalOpen"
  [type]="confirmationModalType"
  (closeModal)="onCloseConfirmationModal()"
  (continue)="onConfirmDeleteProduct($event)"
  (cancel)="onCancelDeleteProduct()"
></app-confirmation-modal>
