<div class="modal-overlay" *ngIf="isOpen" (click)="onClose()">
  <div [class]="headerClass" (click)="$event.stopPropagation()">
    <div class="close-btn-container">
      <button class="modal-close" (click)="onClose()">&times;</button>
    </div>
    <header>
      <div class="title-header">
        <img
          *ngIf="headerClass.includes('error')"
          src="/assets/icons/error.svg"
          alt="error icon"
          class="error-filter"
          width="24"
          height="24"
        />
        <img
          *ngIf="headerClass.includes('warning')"
          src="/assets/icons/warning.svg"
          alt="warning icon"
          class="warning-filter"
          width="24"
          height="24"
        />

        <img
          *ngIf="headerClass.includes('success')"
          src="/assets/icons/success.svg"
          alt="success icon"
          class="success-filter"
          width="24"
          height="24"
        />
        <h2>{{ title }}</h2>
      </div>
    </header>

    <p class="modal-subtitle" *ngIf="subtitle">{{ subtitle }}</p>

    <div class="modal-body">
      <ng-content></ng-content>
    </div>

    <footer class="modal-footer">
      <button class="btn btn-cancel" (click)="onCancel()">Cancelar</button>
      <button class="btn btn-continue" (click)="onContinue()">Continuar</button>
    </footer>
  </div>
</div>
