.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-header {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease;
  gap: 8px;
}

.title-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  flex-direction: row;
  gap: 12px;
}

.modal-header.error {
  background: var(--color-error-container);
  color: var(--color-error);
  border-bottom: 3px solid var(--color-error);
  border-top: 3px solid var(--color-error);
}

img.error-filter {
  filter: brightness(0) saturate(100%) invert(18%) sepia(39%) saturate(4830%)
    hue-rotate(352deg) brightness(109%) contrast(91%);
}

.modal-header.warning {
  background: var(--color-warning);
  color: var(--color-on-warning);
  border-bottom: 3px solid var(--color-on-warning);
  border-top: 3px solid var(--color-on-warning);
}

img.warning-filter {
  filter: brightness(0) saturate(100%) invert(65%) sepia(61%) saturate(403%)
    hue-rotate(6deg) brightness(80%) contrast(88%);
}

.modal-header.success {
  background: var(--color-on-success);
  color: var(--color-success);
  border-bottom: 3px solid var(--color-on-success);
  border-top: 3px solid var(--color-on-success);
}

img.success-filter {
  filter: brightness(0) saturate(100%) invert(26%) sepia(12%) saturate(1782%)
    hue-rotate(73deg) brightness(94%) contrast(90%);
}

h2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}

.modal-subtitle {
  text-align: center;
  font-size: 1rem;
  color: var(--color-on-secondary-fixed-variant);
  margin: 0;
}

.modal-close {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.modal-footer {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 16px;
}

.btn {
  border-radius: 8px;
  height: 44px;
  width: 150px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 600;
}

.btn-cancel {
  background: var(--color-primary);
  color: var(--color-on-primary);
  border: none;
}

.btn-continue {
  background: var(--color-secondary);
  color: var(--color-on-secondary);
  border: none;
}
